* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
}

.latar {
  height: 80vh;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  flex-direction: column;
}


.latar #imgLatar{
  width: 100%;
  height: 80vh;
  filter: blur(2px);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 80vh;
}

.pertanyaan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.wrapper-logo{
  display: flex;
  justify-content: center;
}

.wrapper-nt{
  position: absolute;
  top: 40%;
  height: 100vh;
}

.logo, .nt{
  filter: contrast(100%);
  filter: drop-shadow(3px 5px 3px);
}

.nt{
  display: none;
}


input {
  padding: 0.5rem 1.2em;
}

input:hover {
 box-shadow: 0 0 25px #fff;
 border: 1px solid rgb(46, 187, 168);
}

#answer{
  position: absolute;
  bottom: 50%;
  z-index: 3;
  display: none;
}

ul {
  padding: 1rem 2rem;
  background: rgba(255, 228, 196, 0.589);
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 50%;
  z-index: 2;
  flex-direction: column;
  border: 1px rgba(0, 0, 0, 0.521) solid;
  border-radius: 10px;
  box-shadow: 2px 6px 38px -6px rgba(0, 0, 0, 0.75);
  display: none;
}

@keyframes transparan {
from{

  opacity: 0;
}
to{
  opacity: 100%;
}

}
li {
  font-weight: 700;
  cursor: pointer;
  list-style: none;
}

.wrapper-img {
  height: 100px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

#buttonSpeed,
#buttonNext {
  height: 30px;
  padding: 2px 4px;
}

.wrapper-img img {
  width: 300px;
  filter: drop-shadow(5px 1px 2px);
}

#sectionDialog{
padding-left: 1rem;
}

.dialog{
  height: 20vh;
  background: #eeffb2;
}

.text-dialog{
  padding-top: .2rem;
}

@media (max-width : 800px) {
.wrapper-button{
  display: flex;
}

  #buttonSpeed,
#buttonNext {
  height: 70%;
  padding: 8px 4px;
}
}

@media (max-width : 400px) {
.wrapper-button{
  display: flex;
  flex-direction: column;
}

  #buttonSpeed,
#buttonNext {
  height: 70%;
  padding: 8px 4px;
}
}